In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option("max_columns", 100)
pd.set_option('max_rows',100)
pd.set_option('max_info_columns', 100)

In [3]:
train_1 = pd.read_csv("train_new.csv")
train_2 = train_1.copy()

In [181]:
import datetime as dt
time = train_2.loc[:, ["time"]].values.astype('str')
time_tl = []
# time[0][0]

for i in range(len(time)):
# 文字列を時間に変換
    s = dt.datetime.strptime(time[i][0], '%H:%M')
    time_tl.append(s)
train_2["time"] = time_tl
#試合開始時間を30分ごとにまとめて平均
train_2.groupby(pd.Grouper(key='time', freq='1800s')).mean()

,Unnamed: 0,id,y,year,home_score,away_score,temperature,capa
time,,,,,,,,
1900-01-01 12:30:00,1257.250000,15604.583333,11768.083333,2013.083333,1.416667,0.833333,16.466667,24693.416667
1900-01-01 13:00:00,1262.492754,15157.901449,7619.513043,2012.881159,1.223188,1.257971,18.476812,21837.304348
1900-01-01 13:30:00,65.500000,14173.500000,14508.500000,2012.000000,4.000000,1.000000,20.800000,34847.000000
1900-01-01 14:00:00,743.009050,15032.004525,13743.434389,2012.950226,1.339367,1.321267,18.748416,30251.561086
1900-01-01 14:30:00,485.142857,14477.857143,19036.571429,2012.142857,1.714286,1.285714,13.542857,27886.285714
1900-01-01 15:00:00,687.110236,15092.125984,12898.149606,2013.070866,1.417323,1.314961,17.736220,26848.165354
1900-01-01 15:30:00,653.187500,14716.125000,21109.156250,2012.531250,1.750000,0.906250,12.990625,35947.250000
1900-01-01 16:00:00,1046.894558,15116.132653,9386.234694,2012.870748,1.374150,1.030612,17.614286,25133.891156
1900-01-01 16:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900-01-01 17:00:00,721.634921,15130.746032,13012.714286,2013.015873,1.317460,1.317460,16.669841,30548.539683
1900-01-01 17:30:00,761.000000,14296.714286,12037.571429,2012.000000,1.428571,0.857143,9.485714,20371.571429
1900-01-01 18:00:00,1184.831858,15148.000000,8426.876106,2012.752212,1.376106,1.252212,25.076991,23690.469027
1900-01-01 18:30:00,995.875000,14728.062500,11383.609375,2012.453125,1.343750,1.125000,24.414062,25805.062500
1900-01-01 19:00:00,866.711281,14949.093690,11320.793499,2012.720841,1.424474,1.179732,23.214340,25954.613767
1900-01-01 19:30:00,1241.500000,15112.428571,8813.107143,2012.821429,1.250000,1.535714,24.460714,26955.571429
1900-01-01 20:00:00,723.500000,15212.000000,6132.000000,2013.000000,1.500000,1.000000,23.000000,18956.000000

In [182]:
time = train_2["time"]
time_list = []
a = dt.datetime(1900, 1, 1, 0, 0, 0)
b = dt.datetime(1900, 1, 1, 23, 59, 59)

while a < b:
    time_list.append(a)
    a += dt.timedelta(minutes = 30)

time_list

[datetime.datetime(1900, 1, 1, 0, 0),
 datetime.datetime(1900, 1, 1, 0, 30),
 datetime.datetime(1900, 1, 1, 1, 0),
 datetime.datetime(1900, 1, 1, 1, 30),
 datetime.datetime(1900, 1, 1, 2, 0),
 datetime.datetime(1900, 1, 1, 2, 30),
 datetime.datetime(1900, 1, 1, 3, 0),
 datetime.datetime(1900, 1, 1, 3, 30),
 datetime.datetime(1900, 1, 1, 4, 0),
 datetime.datetime(1900, 1, 1, 4, 30),
 datetime.datetime(1900, 1, 1, 5, 0),
 datetime.datetime(1900, 1, 1, 5, 30),
 datetime.datetime(1900, 1, 1, 6, 0),
 datetime.datetime(1900, 1, 1, 6, 30),
 datetime.datetime(1900, 1, 1, 7, 0),
 datetime.datetime(1900, 1, 1, 7, 30),
 datetime.datetime(1900, 1, 1, 8, 0),
 datetime.datetime(1900, 1, 1, 8, 30),
 datetime.datetime(1900, 1, 1, 9, 0),
 datetime.datetime(1900, 1, 1, 9, 30),
 datetime.datetime(1900, 1, 1, 10, 0),
 datetime.datetime(1900, 1, 1, 10, 30),
 datetime.datetime(1900, 1, 1, 11, 0),
 datetime.datetime(1900, 1, 1, 11, 30),
 datetime.datetime(1900, 1, 1, 12, 0),
 datetime.datetime(1900, 1, 1, 12, 30),
 datetime.datetime(1900, 1, 1, 13, 0),
 datetime.datetime(1900, 1, 1, 13, 30),
 datetime.datetime(1900, 1, 1, 14, 0),
 datetime.datetime(1900, 1, 1, 14, 30),
 datetime.datetime(1900, 1, 1, 15, 0),
 datetime.datetime(1900, 1, 1, 15, 30),
 datetime.datetime(1900, 1, 1, 16, 0),
 datetime.datetime(1900, 1, 1, 16, 30),
 datetime.datetime(1900, 1, 1, 17, 0),
 datetime.datetime(1900, 1, 1, 17, 30),
 datetime.datetime(1900, 1, 1, 18, 0),
 datetime.datetime(1900, 1, 1, 18, 30),
 datetime.datetime(1900, 1, 1, 19, 0),
 datetime.datetime(1900, 1, 1, 19, 30),
 datetime.datetime(1900, 1, 1, 20, 0),
 datetime.datetime(1900, 1, 1, 20, 30),
 datetime.datetime(1900, 1, 1, 21, 0),
 datetime.datetime(1900, 1, 1, 21, 30),
 datetime.datetime(1900, 1, 1, 22, 0),
 datetime.datetime(1900, 1, 1, 22, 30),
 datetime.datetime(1900, 1, 1, 23, 0),
 datetime.datetime(1900, 1, 1, 23, 30)]

In [186]:
for i in range(len(time)):
    for j in range(len(time_list)): 
        if time_list[j] > time[i]:
            time[i] = j - 1
            break

/Users/TAKA/.pyenv/versions/anaconda3-5.1.0/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/TAKA/.pyenv/versions/anaconda3-5.1.0/lib/python3.6/site-packages/pandas/core/indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [191]:
time

0       28
1       26
2       28
3       38
4       26
5       37
6       27
7       37
8       37
9       37
10      38
11      38
12      31
13      38
14      26
15      38
16      29
17      28
18      28
19      28
20      28
21      32
22      28
23      38
24      38
25      38
26      38
27      38
28      38
29      38
30      26
31      28
32      34
33      28
34      34
35      28
36      28
37      32
38      26
39      26
40      38
41      28
42      28
43      32
44      34
45      39
46      38
47      38
48      28
49      29
        ..
1903    28
1904    38
1905    28
1906    28
1907    38
1908    26
1909    26
1910    32
1911    26
1912    26
1913    26
1914    26
1915    36
1916    36
1917    36
1918    36
1919    36
1920    36
1921    36
1922    36
1923    32
1924    26
1925    26
1926    28
1927    25
1928    32
1929    26
1930    32
1931    26
1932    26
1933    26
1934    26
1935    26
1936    26
1937    32
1938    36
1939    36
1940    26
1941    26
1942    26
1943    26
1944    26
1945    32
1946    26
1947    30
1948    38
1949    32
1950    36
1951    36
1952    36
Name: time, Length: 1953, dtype: object