In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import datetime as dt
import seaborn as sns

from numpy import nan
import math


pd.set_option("max_columns", 100)
pd.set_option('max_rows',100)
pd.set_option('max_info_columns', 100)

In [11]:
train_1 = pd.read_csv("train_new.csv")

In [12]:
l_2d = [[35.6634009, 139.5254355],
[35.4707796, 139.6029698],
[33.7676604, 132.7968362],
[33.5859116, 130.4601782],
[38.336331, 140.3762032],
[36.17933560000001, 137.9164237],
[36.6226052, 137.1971531],
[36.3454214, 140.4117326],
[35.578201, 140.1234814],
[33.8907253, 130.7294251],
[36.5565798, 139.9858451],
[34.6792231, 133.9153905],
[36.4126918, 139.0522476],
[33.2007248, 131.6585636],
[34.9933731, 135.715662],
[35.3420762, 139.3431322],
[35.4413183, 136.7660782],
[34.1679659, 134.6153904],
[32.837431, 130.7993793],
[34.8103663, 135.54186],
[34.6567552, 135.1696527],
[34.7228006, 137.8789436],
[35.62127760000001, 138.5882628],
[34.4399378, 132.394889],
[35.9034227, 139.7162571],
[34.6122445, 135.5174433],
[35.4582068, 134.2209829],
[35.9919935, 140.6403308],
[37.8821496, 139.057993],
[35.5866165, 139.6506615],
[38.31909539999999, 140.8811375],
[35.9168106, 139.6297176],
[34.985127, 138.4809596],
[33.3725028, 130.5203189],
[35.8488404, 139.9756535],
[35.5110915, 139.6054998],
[32.8378824, 130.0401237],
[43.0072809, 141.4113189],
[35.0843699, 137.1703056],
[43.0186814, 141.4631858],
[35.5919093, 139.4386228],
[35.1223167, 136.9434324],
[35.6768092, 139.7150184],
[34.2613622, 133.7852714],
[35.6264719, 139.6602167],
[32.7945155, 130.7407644],
[34.7446525, 137.9687789],
[35.445248, 136.765075],
[35.767874, 139.708771],
[36.166373, 139.407552],
[34.6820321, 135.0756159],
[31.5649599, 130.5611608],
[33.2763806, 130.290322],
[35.0817839, 134.0174243],
[37.7248356, 140.3649354],
[38.3367298, 140.9537626],
[32.7752567, 129.8182539],
[35.3144948, 136.6046695]]

df_0_1 = pd.DataFrame(l_2d, columns=['latitude', "longitude"])

In [13]:
df_address = pd.DataFrame({"address_all" : ["東京都調布市西町376-3", "神奈川県横浜市神奈川区三ツ沢西町3-1", "愛媛県松山市上野町乙46",
                           "福岡県福岡市博多区東平尾公園2-1-1", "山形県天童市山王1-1", "長野県松本市神林5300", "富山県富山市南中田368",
                           "茨城県水戸市小吹町2058-1", "千葉県千葉市中央区川崎町1-20", "福岡県北九州市八幡西区御開4-16-1",
                           "栃木県宇都宮市清原工業団地32", "岡山県岡山市北区いずみ町2-1", "群馬県前橋市敷島町66", "大分県大分市大字横尾1351", 
                           "京都府京都市右京区西京極新明町29", "神奈川県平塚市大原1-1", "岐阜県岐阜市長良福光大野2675-28",
                           "徳島県鳴門市撫養町立岩字四枚61", "熊本県熊本市東区平山町2776", "大阪府吹田市千里万博公園5-2", 
                           "兵庫県神戸市兵庫区御崎町1-2-2", "静岡県磐田市新貝2500", "山梨県甲府市小瀬町840", "広島県広島市安佐南区大塚西5-1-1",
                           "埼玉県さいたま市緑区中野田500", "大阪府大阪市東住吉区長居公園1-1", "鳥取県鳥取市蔵田423", "茨城県鹿嶋市神向寺後山26-2",
                           "新潟県新潟市中央区清五郎67-12", "神奈川県川崎市中原区等々力1-1", "宮城県仙台市泉区七北田字柳78", 
                           "埼玉県さいたま市大宮区高鼻町4",  "静岡県静岡市清水区村松3880-1", "佐賀県鳥栖市京町812", "千葉県柏市日立台1-2-50",
                           "神奈川県横浜市港北区小机町3300", "長崎県諫早市宇都町27-1", "北海道札幌市豊平区羊ヶ丘1", "愛知県豊田市千石町7-2",
                           "北海道札幌市厚別区上野幌3条1-2-1", "東京都町田市野津田町2035", "愛知県名古屋市瑞穂区山下通5-1",
                           "東京都新宿区霞ヶ丘町10", "香川県丸亀市金倉町830", "東京都世田谷区駒沢公園1-1", "熊本県熊本市中央区水前寺5-23-3",
                           "静岡県袋井市愛野2300-1", "岐阜県岐阜市長良福光青襖2070-7", "東京都北区西が丘3-15-1", 
                           "埼玉県熊谷市上川上300 熊谷スポーツ文化公園内", "兵庫県神戸市須磨区緑台", "鹿児島県鹿児島市与次郎2-2-2", 
                           "佐賀県佐賀市日の出2-1-10", "岡山県津山市志戸部245", "福島県福島市佐原字神事場1", "宮城県宮城郡利府町菅谷字舘40-1", 
                           "長崎県長崎市柿泊町2210", "岐阜県大垣市浅中2-11-1"]})

In [14]:
df = pd.concat([df_address, df_0_1], axis = 1)
df

                 address_all   latitude   longitude
0              東京都調布市西町376-3  35.663401  139.525435
1        神奈川県横浜市神奈川区三ツ沢西町3-1  35.470780  139.602970
2               愛媛県松山市上野町乙46  33.767660  132.796836
3        福岡県福岡市博多区東平尾公園2-1-1  33.585912  130.460178
4                山形県天童市山王1-1  38.336331  140.376203
5               長野県松本市神林5300  36.179336  137.916424
6               富山県富山市南中田368  36.622605  137.197153
7            茨城県水戸市小吹町2058-1  36.345421  140.411733
8           千葉県千葉市中央区川崎町1-20  35.578201  140.123481
9        福岡県北九州市八幡西区御開4-16-1  33.890725  130.729425
10           栃木県宇都宮市清原工業団地32  36.556580  139.985845
11           岡山県岡山市北区いずみ町2-1  34.679223  133.915391
12               群馬県前橋市敷島町66  36.412692  139.052248
13            大分県大分市大字横尾1351  33.200725  131.658564
14         京都府京都市右京区西京極新明町29  34.993373  135.715662
15              神奈川県平塚市大原1-1  35.342076  139.343132
16       岐阜県岐阜市長良福光大野2675-28  35.441318  136.766078
17          徳島県鳴門市撫養町立岩字四枚61  34.167966  134.615390
18           熊本県熊本市東区平山町2776  32.837431  130.799379
19           大阪府吹田市千里万博公園5-2  34.810366  135.541860
20         兵庫県神戸市兵庫区御崎町1-2-2  34.656755  135.169653
21              静岡県磐田市新貝2500  34.722801  137.878944
22              山梨県甲府市小瀬町840  35.621278  138.588263
23        広島県広島市安佐南区大塚西5-1-1  34.439938  132.394889
24          埼玉県さいたま市緑区中野田500  35.903423  139.716257
25         大阪府大阪市東住吉区長居公園1-1  34.612245  135.517443
26               鳥取県鳥取市蔵田423  35.458207  134.220983
27           茨城県鹿嶋市神向寺後山26-2  35.991993  140.640331
28         新潟県新潟市中央区清五郎67-12  37.882150  139.057993
29          神奈川県川崎市中原区等々力1-1  35.586616  139.650662
30           宮城県仙台市泉区七北田字柳78  38.319095  140.881137
31           埼玉県さいたま市大宮区高鼻町4  35.916811  139.629718
32         静岡県静岡市清水区村松3880-1  34.985127  138.480960
33               佐賀県鳥栖市京町812  33.372503  130.520319
34            千葉県柏市日立台1-2-50  35.848840  139.975653
35         神奈川県横浜市港北区小机町3300  35.511091  139.605500
36             長崎県諫早市宇都町27-1  32.837882  130.040124
37             北海道札幌市豊平区羊ヶ丘1  43.007281  141.411319
38              愛知県豊田市千石町7-2  35.084370  137.170306
39       北海道札幌市厚別区上野幌3条1-2-1  43.018681  141.463186
40            東京都町田市野津田町2035  35.591909  139.438623
41          愛知県名古屋市瑞穂区山下通5-1  35.122317  136.943432
42              東京都新宿区霞ヶ丘町10  35.676809  139.715018
43              香川県丸亀市金倉町830  34.261362  133.785271
44            東京都世田谷区駒沢公園1-1  35.626472  139.660217
45        熊本県熊本市中央区水前寺5-23-3  32.794516  130.740764
46            静岡県袋井市愛野2300-1  34.744653  137.968779
47        岐阜県岐阜市長良福光青襖2070-7  35.445248  136.765075
48            東京都北区西が丘3-15-1  35.767874  139.708771
49  埼玉県熊谷市上川上300 熊谷スポーツ文化公園内  36.166373  139.407552
50               兵庫県神戸市須磨区緑台  34.682032  135.075616
51          鹿児島県鹿児島市与次郎2-2-2  31.564960  130.561161
52           佐賀県佐賀市日の出2-1-10  33.276381  130.290322
53              岡山県津山市志戸部245  35.081784  134.017424
54             福島県福島市佐原字神事場1  37.724836  140.364935
55         宮城県宮城郡利府町菅谷字舘40-1  38.336730  140.953763
56             長崎県長崎市柿泊町2210  32.775257  129.818254
57            岐阜県大垣市浅中2-11-1  35.314495  136.604669

In [46]:
# 各点の x 座標(経度)
points_x = []

# 各点の y 座標(緯度)
points_y = []

for i, row in df.iterrows():
    points_x.append(row['longitude'])
    points_y.append(row['latitude'])

In [47]:
#北海道
list_1 = []
def distance_1(a):
#     a = [points_x(経度), points_y]
#     b = [points_x_1(経度), points_y_1]
    b = [141.34694, 43.06417]
    for i  in range(len(a[0])):
        r = 6378 * 2 * math.pi 
        x = (b[0] - a[0][i])
        y = b[1] - a[1][i]
        d = math.sqrt(((x / 360) * r)**2 + ((y / 360) * r)**2)
        #d = r * math.sqrt( x**2 + y**2 ) / 360
        list_1.append(d)
    return list_1

#distance([points_x,points_y],[0.111,3.213213])
#この形で値渡す必要がある。

In [48]:
#東京
list_2 = []
def distance_2(a):
#     a = [points_x(経度), points_y]
#     b = [points_x_1(経度), points_y_1]
    b = [139.69167, 35.68944]
    for i  in range(len(a[0])):
        r = 6371 * 2 * math.pi 
        x = (b[0] - a[0][i])
        y = b[1] - a[1][i]
        d = math.sqrt(((x / 360) * r)**2 + ((y / 360) * r)**2)
        list_2.append(d)
    return list_2

#distance([points_x,points_y],[0.111,3.213213])
#この形で値渡す必要がある。

In [49]:
#名古屋
list_3 = []
def distance_3(a):
#     a = [points_x(経度), points_y]
#     b = [points_x_1(経度), points_y_1]
    b = [136.90667, 35.18028]
    for i  in range(len(a[0])):
        r = 6371 * 2 * math.pi 
        x = (b[0] - a[0][i])
        y = b[1] - a[1][i]
        d = math.sqrt(((x / 360) * r)**2 + ((y / 360) * r)**2)
        list_3.append(d)
    return list_3

#distance([points_x,points_y],[0.111,3.213213])
#この形で値渡す必要がある。

In [50]:
#大阪
list_4 = []
def distance_4(a):
#     a = [points_x(経度), points_y]
#     b = [points_x_1(経度), points_y_1]
    b = [135.52, 34.68639]
    for i  in range(len(a[0])):
        r = 6371 * 2 * math.pi 
        x = (b[0] - a[0][i])
        y = b[1] - a[1][i]
        d = math.sqrt(((x / 360) * r)**2 + ((y / 360) * r)**2)
        list_4.append(d)
    return list_4

#distance([points_x,points_y],[0.111,3.213213])
#この形で値渡す必要がある。

In [51]:
#福岡
list_5 = []
def distance_5(a):
#     a = [points_x(経度), points_y]
#     b = [points_x_1(経度), points_y_1]
    b = [130.41806, 33.60639]
    for i  in range(len(a[0])):
        r = 6371 * 2 * math.pi 
        x = (b[0] - a[0][i])
        y = b[1] - a[1][i]
        d = math.sqrt(((x / 360) * r)**2 + ((y / 360) * r)**2)
        list_5.append(d)
    return list_5

#distance([points_x,points_y],[0.111,3.213213])
#この形で値渡す必要がある。

In [42]:
hokkaido = distance_1([points_x,points_y])

In [43]:
hokkaido[0]

848.4178784003539

In [44]:
hokkaido[19]

1123.2785050974135

In [52]:
tokyo = distance_2([points_x, points_y])
nagoya = distance_3([points_x, points_y])
osaka = distance_4([points_x, points_y])
fukuoka = distance_5([points_x, points_y])

In [54]:
dist_h = pd.DataFrame(hokkaido)

In [55]:
dist_t = pd.DataFrame(tokyo)
dist_n = pd.DataFrame(nagoya)
dist_o = pd.DataFrame(osaka)
dist_f = pd.DataFrame(fukuoka)

In [56]:
dist = pd.concat([dist_h,dist_t,dist_n,dist_o,dist_f], axis = 1)

In [57]:
dist.head()

             0            0           0           0            0
0   848.417878    18.709829  296.107278  458.442319  1038.203291
1   867.281017    26.238256  301.549952  462.307660  1042.143368
2  1405.989903   795.894494  483.234115  319.570527   265.115018
3  1606.822772  1052.806769  738.415252  575.779843     5.207566
4   537.268399   304.004116  521.530505  675.501435  1225.855143

In [58]:
dist.columns = ['hokkaido', 'tokyo', 'nagoya', 'osaka', 'fukuoka']

In [59]:
dist.head()

      hokkaido        tokyo      nagoya       osaka      fukuoka
0   848.417878    18.709829  296.107278  458.442319  1038.203291
1   867.281017    26.238256  301.549952  462.307660  1042.143368
2  1405.989903   795.894494  483.234115  319.570527   265.115018
3  1606.822772  1052.806769  738.415252  575.779843     5.207566
4   537.268399   304.004116  521.530505  675.501435  1225.855143

In [60]:
dist.to_csv('distance.csv')